
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

 
img{
    border-radius: 8px;
    display: block;
    margin: 0px auto;
}
.text1{
    margin-left: 40px;
    font-family: 'Young Serif';font-size: 22px;
    color:   hsl(15, 4%, 18%);
    font-size: 44px;
    margin-bottom: 40px;
}
.text2{
    margin-left: 40px;
    color: gray;
    font-family: sans-serif;
    font-size: 19px
}
.background{
    background-color: hsl(330, 100%, 98%);
    /*width: 730px;*/
    height: 260px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.text3{
    position: absolute;
    margin-left: 50px;
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit';font-size: 30px;
}
li::marker {
        color:  hsl(332, 51%, 32%);
      } 
.list1{
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 17px;
    color: hsl(30, 10%, 34%);
}
.span1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.span2{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.header{
    margin: 150px 300px 150px 300px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body{
    background-color:  hsl(30, 54%, 90%);
}
.text4{
    font-size: 40px;
    margin-left: 50px;
    color: hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.list2{
    margin-left: 40px;
    color: hsl(30, 10%, 34%);
    font-size: 20px;
    line-height: 1.7;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
hr {
    border: none;                
    border-top: 1px solid gray;  
    height: 1px;                 
    background-color: rgba(128, 128, 128, 0);      
    width: 90%;                
    margin: 0 auto;  
    opacity: 50%;            
}
#list2-{
    line-height: 2;
    font-size: 18px;
}
ol {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.span3{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.text5{
    margin-left: 55px;
    font-size: 17px;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.nutrition-table {
    width: 500px;
    margin: 50px auto;
    border-collapse: collapse;
    transform: scale(1.3); /* Scale the table to make it bigger */
    transform-origin: center; /* Keep the scaling centered */
}

table {
    width: 100%;
}

td {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
    font-size: 16px;
}

td.value {
    text-align: center;
    font-weight: bold;
    color: #964B00; /* Brown color */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

table tr:last-child td {
    border-bottom: none;
}
.title{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}








